################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CareCloudImageUploader
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
